* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #0f172a;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.app {
  background-color: #020617;
  padding: 20px;
  border-radius: 10px;
  width: 320px;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  background-color: #020617;
  border: px solid #334155;
  color: #e5e7eb;
  border-radius: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin-bottom: 15px;
}

button {
  padding: 10px;
  font-size: 16px;
 background-color: #1e293b;
 color: #e5e7eb;
 border: none;
 border-radius: 6px;
 cursor: pointer; 
}

button:hover {
  background-color: #334155;
}

.results {
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
  color: red;
}

.history {
  border-top: 1px solid #334155;
  padding-top: 10px;
}

.history h4{
  margin-bottom: 5px;
}

.history ul {
  list-style: none;
}

.history li {
  font-size: 14px;
  padding: 14px 0;
  border-bottom: 1px solid #1e293b;
}